body{
     margin: 0px;
}
nav{
    background-color: black;
    width: 200%;
    padding: 15px;
}
nav span{
    color: white;
    font-size: 20px;
    border-left: 10px;
}
div{
    margin-left: 15px;
}
a button{
    color: white;
    background-color: black;
    margin-left: 5px;
    font-size: 15px;
}
.gta-logo{
    width: 800px;
    height: 500px;
}
ol .missions{
    font-size: 20px;
}
ul .locations{
    font-size: 20px;
}